{
	"env": {
		"browser": true
	},
	// Support: IE <=9 only, Android <=4.0 only
	// The above browsers are failing a lot of tests in the ES5
	// test suite at http://test262.ecmascript.org.
	"parserOptions": {
		"ecmaVersion": 3
	},
	"globals": {
		"require": false,
		"define": false,
		"DOMParser": false,
		"JSON": false,
		"Promise": false,
		"Symbol": false,
		"QUnit": false,
		"ajaxTest": false,
		"testIframe": false,
		"testIframeWithCallback": false,
		"iframeCallback": true,
		"createDashboardXML": false,
		"createXMLFragment": false,
		"moduleTeardown": false,
		"testFoo": false,
		"url": false,
		"t": false,
		"q": false,
		"jQuery": true,
		"sinon": true,
		"amdDefined": true,
		"fireNative": true,
		"Globals": true,
		"hasPHP": true,
		"isLocal": true,
		"supportjQuery": true,
		"originaljQuery": true,
		"$": true,
		"original$": true,
		"baseURL": true,
		"externalHost": true
	},
	"rules": {
		// See https://github.com/eslint/eslint/issues/2342
		"no-unused-vars": "off",

		// Too much errors
		"max-len": "off",
		"brace-style": "off",
		"key-spacing": "off",
		"camelcase": "off",
		"dot-notaion": "off",

		// Not really too much - waiting autofix features for these rules
		"lines-around-comment": "off",
		"dot-notation": "off"
	}
}
