ol#empty {
	opacity: 0;
}

div#fx-tests h4 {
	background: red;
}

div#fx-tests h4.pass {
	background: green;
}

div#fx-tests div.box {
	background: red;
	overflow: hidden;
	border: 2px solid #000;
}

div#fx-tests div.overflow {
	overflow: visible;
}

div.inline {
	display: inline;
}

div.autoheight {
	height: auto;
}

div.autowidth {
	width: auto;
}

div.autoopacity {
	opacity: 1;
}

div.largewidth {
	width: 100px;
}

div.largeheight {
	height: 100px;
}

div.medwidth {
	width: 50px;
}

div.medheight {
	height: 50px;
}

div.medopacity {
	opacity: 0.5;
}

div.nowidth {
	width: 0px;
}

div.noheight {
	height: 0px;
}

div.noopacity {
	opacity: 0;
}

div.hidden {
	display: none;
}

div#fx-tests div.widewidth {
	background-repeat: repeat-x;
}

div#fx-tests div.wideheight {
	background-repeat: repeat-y;
}

div#fx-tests div.widewidth.wideheight {
	background-repeat: repeat;
}

div#fx-tests div.noback {
	background-image: none;
}

.chain-test,
.chain-test div {
	width: 100px;
	height: 20px;
	position: relative;
	float: left;
}
.chain-test div {
	position: absolute;
	top: 0;
	left: 0;
}

.chain-test {
	background: red;
}
.chain-test div {
	background: green;
}

.chain-test-out {
	background: green;
}
.chain-test-out div {
	background: red;
	display: none;
}

/* tests to ensure jQuery can determine the native display mode of elements
   that have been set as display: none in stylesheets */
div#show-tests * { display: none; }

#nothiddendiv { font-size: 16px; }
#nothiddendivchild.em { font-size: 2em; }
#nothiddendivchild.prct { font-size: 150%; }

/* 8099 changes to default styles are read correctly */
tt { display: none; }
sup { display: none; }
dfn { display: none; }

/* #9239 Attach a background to the body( avoid crashes in removing the test element in support ) */
body, div { background: url(http://static.jquery.com/files/rocker/images/logo_jquery_215x53.gif) no-repeat -1000px 0; }

/* #10501 */
section { background:#f0f; display:block; }

/* #11971 */
#foo { background: url(1x1.jpg) right bottom no-repeat; }

#display { display: list-item !important; }
