{
	"extends": "eslint-config-jquery",
	"root": true,
	"env": {
		"node": true
	},
	rules: {
		// Until https://github.com/jquery/eslint-config-jquery/issues/7 is resolved
		"no-unused-expressions": "error"
	}
}
