external
node_modules
*.min.js
dist
!dist/.eslintrc.cjs
dist-module
!dist-module/.eslintrc.cjs
!dist-module/jquery.node-module-wrapper.js
!dist-module/jquery.node-module-wrapper.slim.js
test/data/jquery-1.9.1.js
test/data/badcall.js
test/data/badjson.js
test/data/json_obj.js
test/data/readywaitasset.js
test/data/readywaitloader.js
test/data/support/csp.js
test/data/support/getComputedSupport.js
test/data/core/jquery-iterability-transpiled.js
