.project
.settings
*~
*.diff
*.patch
/*.html
.DS_Store
.bower.json
.sizecache.json
yarn.lock
package-lock.json

npm-debug.log*

# Ignore everything in dist folder except for eslint config
/dist/*
!/dist/.eslintrc.json

/amd
/external
/node_modules

/test/data/core/jquery-iterability-transpiled.js
/test/data/qunit-fixture.js
