.project
.settings
*~
*.diff
*.patch
.DS_Store
.bower.json
.sizecache.json
yarn.lock
.eslintcache
tmp

npm-debug.log*

/dist

# Ignore main branch builds
/dist-module

/external
/node_modules

/test/data/core/jquery-iterability-transpiled.js
/test/data/qunit-fixture.js

# Release artifacts
changelog.html
contributors.html

# Ignore BrowserStack testing files
local.log
browserstack.err
