# The last item overrides previous entries.
# Names can be checked with:
#    git shortlog -ns
# command.
#


Anton M <haskell_noob-github@yahoo.de>
Anton M <obhvsbypqghgc@gmail.com>


#Azatoth <azatoth@gmail.com>
Carl Fürstenberg <azatoth@gmail.com>
Carl Fürstenberg <carl@excito.com>


Brandon Aaron <brandon.aaron@gmail.com>
#brandonaaron <brandon.aaron@gmail.com>


Colin Snover <colin@alpha.zetafleet.com>
Colin Snover <github.com@zetafleet.com>


Corey Frang <gnarf@gnarf.net>
#gnarf <gnarf@gnarf.net>


Dan Heberden <danheberden@gmail.com>
#danheberden <danheberden@gmail.com>


Daniel Gálvez <dgalvez@editablething.com>
#Daniel Galvez <dgalvez@editablething.com>


Dave Methvin <dave.methvin@gmail.com>
#dmethvin <dave.methvin@gmail.com>


Dave Reed <dareed@microsoft.com>
#InfinitiesLoop <dareed@microsoft.com>


#Erick Ruiz <erickrdch@gmail.com>
Erick Ruiz de Chavez <erickrdch@gmail.com>


Iraê Carvalho <irae@irae.pro.br>
#Irae Brasil <irae@irae.pro.br>


Jörn Zaefferer <joern.zaefferer@gmail.com>
Jörn Zaefferer <joern.zaefferer@googlemail.com>
#jzaefferer <joern.zaefferer@gmail.com>
Jörn Zaefferer <JZA@.(none)>


Julian Aubourg <aubourg.julian@gmail.com>
#jaubourg <j@ubourg.net>
Julian Aubourg <j@ubourg.net>


#jeresig <jeresig@gmail.com>
John Resig <jeresig@Archimedes.local>
John Resig <jeresig@gmail.com>


Jordan Boesch <jboesch26@gmail.com>
Jordan Boesch <jordan@boedesign.com>


Karl Swedberg <karl@englishrules.com>
Karl Swedberg <kswedberg@gmail.com>


#Krinkle <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com>


lrbabe <lrbabe@gmail.com>
lrbabe <lrbabe@lrbabe-laptop>
lrbabe <lrbabe@lrbabe-laptop.(none)>
#louisremi <louisremi@louisremi-laptop.(none)>


#malsup <malsup@gmail.com>
Mike Alsup <malsup@gmail.com>
#Mike Alup <malsup@gmail.com>


nanto <nanto@moon.email.ne.jp>
#nanto_vi <nanto@moon.email.ne.jp>


#Oleg <markelog@gmail.com>
Oleg Gaidarenko <markelog@gmail.com>


Richard D. Worth <rdworth@gmail.com>
#Richard Worth <rdworth@gmail.com>


Rick Waldron <waldron.rick@gmail.com>
#Rick Waldron waldron.rick@gmail.com <waldron.rick@gmail.com>
#rwldrn <waldron.rick@gmail.com>


#rkatic <robert.katic@gmail.com>
Robert Katić <robert.katic@gmail.com>
#Robert Katic <robert.katic@gmail.com>


Scott González <scott.gonzalez@gmail.com>
Scott Gonzalez <sgonzale@sgonzale-laptop.local>


Timmy Willison <tim.willison@thisismedium.com>
Timmy Willison <timmywillisn@gmail.com>
#timmywil <tim.willison@thisismedium.com>
#timmywil <timmywillisn@gmail.com>


unknown <Igen005@.upcorp.ad.uprr.com>
unknown <Julian@.(none)>


#wycats <wycats@gmail.com>
Yehuda Katz <wycats@12-189-125-93.att-inc.com>
Yehuda Katz <wycats@gmail.com>
Yehuda Katz <wycats@mobile005.mycingular.net>
Yehuda Katz <wycats@Yehuda-Katz.local>
