Adam Coulombe <me@adam.co> <adamcoulombe187@hotmail.com>
Adam J. Sontag <ajpiano@ajpiano.com>
Alexander Farkas <info@corrupt-system.de>
Alexander Farkas <info@corrupt-system.de> <a.farkas.pm@googlemail.com>
Alexis Abril <me@alexisabril.com> <alexis.abril@gmail.com>
Andrew E Monat <amonat@gmail.com>
Anton Matzneller <obhvsbypqghgc@gmail.com>
Anton Matzneller <obhvsbypqghgc@gmail.com> <haskell_noob-github@yahoo.de>
Batiste Bieler <batiste.bieler@gmail.com>
Benjamin Truyman <bentruyman@gmail.com>
Brandon Aaron <brandon.aaron@gmail.com>
Carl Danley <carldanley@gmail.com>
Carl Fürstenberg <azatoth@gmail.com>
Carl Fürstenberg <azatoth@gmail.com> <carl@excito.com>
Charles McNulty <cmcnulty@kznf.com>
Christopher Jones <chris@cjqed.com> cjqed <christopherjonesqed@gmail.com>
Colin Snover <github.com@zetafleet.com> <colin@alpha.zetafleet.com>
Corey Frang <gnarf37@gmail.com> <gnarf@gnarf.net>
Dan Heberden <danheberden@gmail.com>
Daniel Chatfield <chatfielddaniel@gmail.com> <chatfielddaniel@googlemail.com>
Daniel Gálvez <dgalvez@editablething.com>
Danil Somsikov <danilasomsikov@gmail.com>
Dave Methvin <dave.methvin@gmail.com>
Dave Reed <dareed@microsoft.com>
David Fox <dfoxinator@gmail.com> <dfox@snap-interactive.com>
David Hong <d.hong@me.com>
David Murdoch <david@davidmurdoch.com> <musicisair@yahoo.com>
Devin Cooper <cooper.semantics@gmail.com> <dcooper@snap-interactive.com>
Douglas Neiner <doug@dougneiner.com> <doug@pixelgraphics.us>
Dmitry Gusev <dmitry.gusev@gmail.com>
Earle Castledine <mrspeaker@gmail.com>
Erick Ruiz de Chávez <erickrdch@gmail.com>
Gianni Alessandro Chiappetta <gianni@runlevel6.org>
Heungsub Lee <h@subl.ee> <lee@heungsub.net>
Iraê Carvalho <irae@irae.pro.br>
Isaac Z. Schlueter <i@izs.me>
Ismail Khair <ismail.khair@gmail.com>
James Burke <jrburke@gmail.com>
James Padolsey <cla@padolsey.net> <jamespadolsey@gmail.com>
Jason Bedard <jason+jquery@jbedard.ca> <github@jbedard.ca>
Jay Merrifield <fracmak@gmail.com>
Jay Merrifield <fracmak@gmail.com> <jmerrifiel@gannett.com>
Jean Boussier <jean.boussier@gmail.com>
Jephte Clain <Jephte.Clain@univ-reunion.fr>
Jess Thrysoee <jess@thrysoee.dk>
Joao Henrique de Andrade Bruni <joaohbruni@yahoo.com.br>
Joe Presbrey <presbrey@gmail.com> <presbrey+jwp@gmail.com>
John Resig <jeresig@gmail.com>
John Resig <jeresig@gmail.com> <jeresig@Archimedes.local>
Jordan Boesch <jboesch26@gmail.com> <jordan@boedesign.com>
Josh Varner <josh.varner@gmail.com> <josh.varner@gmail.com>
Julian Aubourg <aubourg.julian@gmail.com>
Julian Aubourg <aubourg.julian@gmail.com> <j@ubourg.net>
Julian Aubourg <aubourg.julian@gmail.com> <Julian@.(none)>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com> <joern.zaefferer@googlemail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com> <JZA@.(none)>
Karl Swedberg <kswedberg@gmail.com> <karl@englishrules.com>
Klaus Hartl <klaus.hartl@gmail.com> <klaus.hartl@googlemail.com>
Kris Borchers <kris.borchers@gmail.com>
Lee Carpenter <elcarpie@gmail.com>
Li Xudong <istonelee@gmail.com>
Louis-Rémi Babé <lrbabe@gmail.com>
Louis-Rémi Babé <lrbabe@gmail.com> <louisremi@louisremi-laptop.(none)>
Louis-Rémi Babé <lrbabe@gmail.com> <lrbabe@lrbabe-laptop.(none)>
Louis-Rémi Babé <lrbabe@gmail.com> <lrbabe@lrbabe-laptop>
Marcel Greter <marcel.greter@ocbnet.ch> <mgr@rtp.ch>
Matthias Jäggli <matthias.jaeggli@gmail.com> <matthias.jaeggli@scout24.ch>
Michael Murray <m@murz.net> <mmurray.wa@gmail.com>
Michał Gołębiowski <m.goleb@gmail.com>
Michał Gołębiowski <m.goleb@gmail.com> <michal.golebiowski@laboratorium.ee>
Mike Alsup <malsup@gmail.com>
Nguyen Phuc Lam <ruado1987@gmail.com>
Oleg Gaidarenko <markelog@gmail.com>
Paul Bakaus <paul.bakaus@gmail.com> <paul.bakaus@googlemail.com>
Rafaël Blais Masson <rafbmasson@gmail.com>
Richard D. Worth <rdworth@gmail.com>
Rick Waldron <waldron.rick@gmail.com>
Rick Waldron <waldron.rick@gmail.com> <rick@bocoup.com>
Robert Katić <robert.katic@gmail.com>
Roman Reiß <me@silverwind.io>
Ron Otten <r.j.g.otten@gmail.com>
Sai Lung Wong <sai.wong@huffingtonpost.com>
Scott González <scott.gonzalez@gmail.com> <sgonzale@sgonzale-laptop.local>
Scott Jehl <scottjehl@gmail.com> <scott@scottjehl.com>
Sebastian Burkhard <sebi.burkhard@gmail.com>
Senya Pugach <upisfree@outlook.com>
Thomas Tortorini <thomastortorini@gmail.com> Mr21
Timmy Willison <timmywillisn@gmail.com>
Timmy Willison <timmywillisn@gmail.com> <tim.willison@thisismedium.com>
Timo Tijhof <krinklemail@gmail.com>
TJ Holowaychuk <tj@vision-media.ca>
Tom H Fuertes <tomfuertes@gmail.com>
Tom H Fuertes <tomfuertes@gmail.com> Tom H Fuertes <TomFuertes@gmail.com>
Tom Viner <github@viner.tv>
Wesley Walser <waw325@gmail.com> <wwalser@atlassian.com>
Xavi Ramirez <xavi.rmz@gmail.com>
Xavier Montillet <xavierm02.net@gmail.com>
Yehuda Katz <wycats@gmail.com>
Yehuda Katz <wycats@gmail.com> <wycats@12-189-125-93.att-inc.com>
Yehuda Katz <wycats@gmail.com> <wycats@mobile005.mycingular.net>
Yehuda Katz <wycats@gmail.com> <wycats@Yehuda-Katz.local>
Yiming He <yiminghe@gmail.com>
Terry Jones <terry@jon.es> <terry@fluidinfo.com>
