# Names can be checked with:
#    git shortlog -ns
#    git shortlog -nse
# command.
#

<obhvsbypqghgc@gmail.com> <haskell_noob-github@yahoo.de>
Anton M <haskell_noob-github@yahoo.de>
Anton M <obhvsbypqghgc@gmail.com>


<azatoth@gmail.com> <carl@excito.com>
Carl Fürstenberg <azatoth@gmail.com>
Carl Fürstenberg <carl@excito.com>


Brandon Aaron <brandon.aaron@gmail.com>


<colin@alpha.zetafleet.com> <github.com@zetafleet.com>
Colin Snover <colin@alpha.zetafleet.com>
Colin Snover <github.com@zetafleet.com>


Corey Frang <gnarf@gnarf.net>


Dan Heberden <danheberden@gmail.com>


Daniel Gálvez <dgalvez@editablething.com>


Dave Methvin <dave.methvin@gmail.com>


Dave Reed <dareed@microsoft.com>


Erick Ruiz de Chavez <erickrdch@gmail.com>


Iraê Carvalho <irae@irae.pro.br>

<joern.zaefferer@gmail.com> <joern.zaefferer@googlemail.com>
<joern.zaefferer@gmail.com> <JZA@.(none)>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Jörn Zaefferer <joern.zaefferer@googlemail.com>
Jörn Zaefferer <JZA@.(none)>


<aubourg.julian@gmail.com> <j@ubourg.net>
Julian Aubourg <aubourg.julian@gmail.com>
Julian Aubourg <j@ubourg.net>


<jeresig@gmail.com> <jeresig@Archimedes.local>
John Resig <jeresig@Archimedes.local>
John Resig <jeresig@gmail.com>

<jboesch26@gmail.com> <jordan@boedesign.com>
Jordan Boesch <jboesch26@gmail.com>
Jordan Boesch <jordan@boedesign.com>


<kswedberg@gmail.com> <karl@englishrules.com>
Karl Swedberg <karl@englishrules.com>
Karl Swedberg <kswedberg@gmail.com>


Timo Tijhof <krinklemail@gmail.com>


<lrbabe@gmail.com> <lrbabe@lrbabe-laptop>
<lrbabe@gmail.com> <lrbabe@lrbabe-laptop.(none)>
lrbabe <lrbabe@gmail.com>
lrbabe <lrbabe@lrbabe-laptop>
lrbabe <lrbabe@lrbabe-laptop.(none)>


Mike Alsup <malsup@gmail.com>


nanto <nanto@moon.email.ne.jp>


Oleg Gaidarenko <markelog@gmail.com>


Richard D. Worth <rdworth@gmail.com>


Rick Waldron <waldron.rick@gmail.com>


Robert Katić <robert.katic@gmail.com>


<scott.gonzalez@gmail.com> <sgonzale@sgonzale-laptop.local>
Scott González <sgonzale@sgonzale-laptop.local>
Scott González <scott.gonzalez@gmail.com>


<timmywillisn@gmail.com> <tim.willison@thisismedium.com>
Timmy Willison <tim.willison@thisismedium.com>
Timmy Willison <timmywillisn@gmail.com>


<wycats@gmail.com> <wycats@12-189-125-93.att-inc.com>
<wycats@gmail.com> <wycats@mobile005.mycingular.net>
<wycats@gmail.com> <wycats@Yehuda-Katz.local>
Yehuda Katz <wycats@12-189-125-93.att-inc.com>
Yehuda Katz <wycats@gmail.com>
Yehuda Katz <wycats@mobile005.mycingular.net>
Yehuda Katz <wycats@Yehuda-Katz.local>
