
   .dialog {
     margin-bottom: 1em;
   }
   a.expand {
     background: #e3e3e3;
   }

   div#time-test {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 62.5%;
   }

   td.test button {
     float: right;
   }

   table {
     border: 1px solid #000;
   }

   table td, table th {
     border: 1px solid #000;
     padding: 10px;
   }

   td.winner {
     background-color: #cfc;
   }

   td.tie {
     background-color: #ffc;
   }

   td.fail {
     background-color: #f99;
     font-weight: bold;
     text-align: center;
   }

   tfoot td {
     text-align: center;
   }

   #time-test {
     margin: 1em 0;
     padding: .5em;
     background: #e3e3e3;
   }
   #time-taken {
     font-weight: bold;
   }

   span.wins {
     color: #330;
   }

   span.fails {
     color: #900;
   }

   div.buttons {
     margin-top: 10px;
     margin-bottom: 10px;
   }
